<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en'>
<head>
<meta charset='utf-8'><title>Michael McClintock's Blog</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700|Inconsolata' rel='stylesheet' type='text/css' />
<link href='/styles/screen.css' media='screen' rel='stylesheet' type='text/css' />
<link href='/styles/syntax.css' rel='stylesheet' type='text/css' />
</meta>
</head>
<body>
<div id='wrapper'>
<div id='headwrap'>
<div id='heading'>
<a href='/'>Michael McClintock's Blog</a>
</div>
<div id='links'>
<a href='/'>Home</a>
<a href='/'>About</a>
<a href='/'>Resume</a>
</div>
</div>

<div id='inner'>
<div id='content'><div class='post'>
  <h1>How to get the time in vim</h1>
  <aside>Posted at: 04/05/12 23:10:31</aside>
  <article>
    <p>I often need the current time placed directly in a file that I&#39;m editing with vim.
    This isn&#39;t a problem using strftime()</p>
    
    <!--CHOP-->
    
    <p>chuck this in your vimrc</p>
    <div class="syntax"><pre>nmap <span class="p">&lt;</span>F3<span class="p">&gt;</span> <span class="k">a</span><span class="p">&lt;</span>C<span class="p">-</span>R<span class="p">&gt;=</span>strftime<span class="p">(</span><span class="s2">&quot;%d/%m/%y %H:%M:%S&quot;</span><span class="p">)&lt;</span>CR<span class="p">&gt;&lt;</span>Esc<span class="p">&gt;</span>&#x000A;imap <span class="p">&lt;</span>F3<span class="p">&gt;</span> <span class="p">&lt;</span>C<span class="p">-</span>R<span class="p">&gt;=</span>strftime<span class="p">(</span><span class="s2">&quot;%d/%m/%y %H:%M:%S&quot;</span><span class="p">)&lt;</span>CR<span class="p">&gt;</span></pre></div>
  </article>
  <div id='disqus_thread'></div>
  <script type='text/javascript'>
    var disqus_shortname = 'mmcclintock';
    var disqus_identifier = '<%= item.identifier %>';
    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>
    Please enable JavaScript to view the
    <a href='http://disqus.com/?ref_noscript'>comments powered by Disqus.</a>
  </noscript>
  <a class='dsq-brlink' href='http://disqus.com'>
    blog comments powered by
    <span class='logo-disqus'>Disqus</span>
  </a>
</div>
</div>
<div id='sidebar'>
Tags:
<blockquote>
<a href='/tags/vim.html'>vim</a>
,&nbsp;
<a href='/tags/status.html'>status</a>
,&nbsp;
<a href='/tags/nanoc.html'>nanoc</a>
</blockquote>
</div>

<br class='clear' />
</div>
</div>
<div id='footwrap'>
<div id='footer'>
<p>
Created using
<a href='http://nanoc.stoneship.org' rel='nanoc'>nanoc</a>
and vim. &nbsp; Hosted with
<a href='http://www.heroku.com/' rel='host'>
<img alt='Heroku' height='18' src='/static/heroku-logo.png' style='border-width:0' width='50' />
</a>
</p>
<p>
&copy; Copyright 2012 Michael McClintock. &nbsp;
Content licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License
<a href='http://creativecommons.org/licenses/by-nc-sa/3.0/' rel='license'>
<img alt='Creative Commons License' src='http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png' style='border-width:0' />
</a>
</p>
</div>
</div>

<script type='text/javascript'>
var disqus_shortname = 'mmcclintock';
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>

</body>
</html>
