/* colour scheme */
html {
  height: 100%; }

/* defaults */
body {
  font: 12pt/14pt "Open Sans", sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  height: 100%; }

a {
  color: #4682b4;
  text-decoration: none; }

a:hover {
  color: black; }

/*ul {*/
/*list-style: none;*/
/*padding: 0;*/
/*margin: 0;*/
/*}*/
/*ul li {*/
/*padding: 0;*/
/*margin: 0;*/
/*}*/
blockquote {
  padding: 5px;
  margin: 5px; }

/* headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #4682b4;
  text-decoration: none; }

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
  color: black; }

h1, h2 {
  margin: 10px 0 10px 0; }

h1 {
  font-size: 20pt;
  line-height: 30px; }

h2 {
  font-size: 18pt;
  line-height: 24px; }

h3 {
  font-weight: normal;
  font-style: italic;
  font-size: 16pt;
  line-height: 22pt; }

#wrapper {
  min-height: 90%;
  position: relative;
  background: #eeeef0; }

#headwrap {
  width: 978px;
  height: 60px;
  margin: 0 auto; }

#heading {
  background: #eeeef0;
  padding: 20px;
  font-family: 'Inconsolata', sans-serif;
  font-weight: normal;
  font-size: 20pt;
  float: left; }

#heading a {
  color: #000;
  text-decoration: none; }

#heading a:hover {
  color: black; }

#links {
  background: #4682b4;
  border-radius: 0 0 15px 15px;
  padding: 10px 20px;
  font-family: 'Inconsolata', sans-serif;
  font-weight: normal;
  font-size: 16pt;
  float: right;
  text-align: right; }

#links a {
  color: black;
  text-decoration: none; }

#links a:hover {
  color: #eeeef0;
  text-decoration: underline; }

#inner {
  width: 978px;
  margin: auto;
  background: #eeeef0;
  padding: 10px 0px 50px; }

#content {
  background: white;
  width: 670px;
  border-radius: 15px;
  padding: 10px 20px;
  float: left; }

.post {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc; }

#sidebar {
  background: #b5e6b7;
  border-radius: 15px;
  width: 230px;
  padding: 10px;
  float: right; }

.clear {
  clear: both; }

#footwrap {
  width: 100%;
  background: #CCC;
  height: 10%; }

#footer {
  border-top: 1px solid #ccc;
  text-align: center;
  padding: 5px;
  color: #555;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  line-height: normal; }

#footer img {
  margin-left: 3px;
  margin-right: 3px;
  vertical-align: text-bottom; }

/*for code blocks*/
div.syntax {
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }

div.syntax pre {
  background-color: transparent;
  margin: 0;
  padding: 15px;
  border: none;
  overflow: auto; }
